.error {
    .error-404 {
        font-family: 'VT323';
        font-size: 404px;
        user-select: none;
        margin-left: 27%;
    }
    .error-message {
        margin-left: 37%;
        margin-top: -10%; 
        font-size: xx-large;
    }
}