.tags {
	margin: 10% 0% 0% 3%;
	width: 18rem;
	font-size: medium;

	.topic {
		margin-left: 4%;
		color: #d4d4d4;
		font-size: 19px;
		padding-bottom: 5px;
	}
	.tag {
		display: flex;
		.arrow {
			color: #121212;
			padding-right: 7px;
		}
		.link {
			text-decoration: none;
			color: #d4d4d4;
		}
		.active {
			color: rgba(25, 130, 196, 1);
		}
	}
}
