.personal-problemset {
	color: #d4d4d4;
	margin-top: 1%;

	.problemset-container {
		display: flex;
		margin: 5% 5% 0% 10%;

		.playlists {
			width: 30%;
			margin-left: 5%;
			margin-right: 5%;
			background-color: #121212;
			font-size: medium;

			.problemset-item {
				width: 20rem;
				display: flex;

				.problemset-name {
					width: 100%;
				}

				.arrow {
					color: #121212;
					padding-right: 6px;
				}
				.active {
					color: rgba(25, 130, 196, 1);
				}

				.close {
					color: #d4d4d4;
				}
			}
		}
	}
}
