.forgot-password {
	margin: 10% 5% 0% 5%;

	.form {
		margin: auto;
		margin-top: 2rem;
		width: 40%;

		.button {
			margin-left: 38%;
			padding: 5px;
			width: 18%;
			background-color: #121212;
			color: #d4d4d4;
			border: 3px solid #d4d4d4;
		}

		.button:hover {
			background-color: rgba(14, 173, 105, 0.65);
			color: #121212;
			text-decoration: underline;
		}
	}
}

.forgot-password-ack {
	margin-top: 10%;
	margin-left: 5%;
}
