body {
	font-family: "Space Mono", "monospace";
	word-spacing: normal;
	font-size: 14px;
	background-color: #121212;
	margin: 0px;
}

.components {
	width: 100%;
	border: 4px solid #d4d4d4;
	min-height: calc(100vh - 60px);
	color: #d4d4d4;
}
